In [1]:
import pickle

with open('c_age_zero', 'rb') as f:
    c_age_zero = pickle.load(f)

print(c_age_zero)

with open('c_age_one', 'rb') as f:
    c_age_one = pickle.load(f)

print(c_age_one)

with open('AM92', 'rb') as f:
    AM92 = pickle.load(f)

print(AM92)

0       17
1       18
2       19
3       20
4       21
      ...
99     116
100    117
101    118
102    119
103    120
Name: age_at_entry, Length: 104, dtype: int64
0       18
1       19
2       20
3       21
4       22
      ...
99     117
100    118
101    119
102    120
103    121
Name: age_at_entry, Length: 104, dtype: int64
     Age x  Duration 0  Duration 1  Duration 2
0       17    0.000427    0.000552    0.000600
1       18    0.000426    0.000548    0.000594
2       19    0.000425    0.000544    0.000587
3       20    0.000425    0.000541    0.000582
4       21    0.000425    0.000538    0.000577
..     ...         ...         ...         ...
99     116         NaN         NaN    0.754809
100    117         NaN         NaN    0.776648
101    118         NaN         NaN    0.797477
102    119         NaN         NaN    0.817225
103    120         NaN         NaN    1.000000

[104 rows x 4 columns]

## This works

In [2]:
AM92.loc[AM92['Age x'] == c_age_zero,'Duration 2']

0      0.000600
1      0.000594
2      0.000587
3      0.000582
4      0.000577
         ...
99     0.754809
100    0.776648
101    0.797477
102    0.817225
103    1.000000
Name: Duration 2, Length: 104, dtype: float64

## But this one is empty??

In [3]:
AM92.loc[AM92['Age x'] == c_age_one,'Duration 2']

Series([], Name: Duration 2, dtype: float64)

In [4]:
type(AM92)

pandas.core.frame.DataFrame

In [5]:
type(c_age_one)

pandas.core.series.Series

In [6]:
AM92.loc[AM92['Age x'].isin(c_age_one), 'Duration 2']

1      0.000594
2      0.000587
3      0.000582
4      0.000577
5      0.000572
         ...
99     0.754809
100    0.776648
101    0.797477
102    0.817225
103    1.000000
Name: Duration 2, Length: 103, dtype: float64

In [7]:
c_age_two = c_age_one + 1
print(c_age_two)

0       19
1       20
2       21
3       22
4       23
      ...
99     118
100    119
101    120
102    121
103    122
Name: age_at_entry, Length: 104, dtype: int64

In [8]:
AM92.loc[AM92['Age x'].isin(c_age_two), 'Duration 2']

2      0.000587
3      0.000582
4      0.000577
5      0.000572
6      0.000569
         ...
99     0.754809
100    0.776648
101    0.797477
102    0.817225
103    1.000000
Name: Duration 2, Length: 102, dtype: float64

In [9]:
type(c_age_two)

pandas.core.series.Series

In [10]:
import pandas as pd
c = AM92.loc[AM92['Age x'].isin(c_age_two), 'Duration 2']
type(c)
results = pd.DataFrame({"Age":c_age_two,"Mort_Rate":AM92.loc[AM92['Age x'].isin(c_age_two), 'Duration 2']})

In [11]:
results.head

<bound method NDFrame.head of      Age  Mort_Rate
0     19        NaN
1     20        NaN
2     21   0.000587
3     22   0.000582
4     23   0.000577
..   ...        ...
99   118   0.754809
100  119   0.776648
101  120   0.797477
102  121   0.817225
103  122   1.000000

[104 rows x 2 columns]>

In [12]:
d = AM92.loc[AM92['Age x'].isin(c_age_one),'Duration 2']
print(d)
d = d.fillna(value=0, inplace=True)

type(d)

1      0.000594
2      0.000587
3      0.000582
4      0.000577
5      0.000572
         ...
99     0.754809
100    0.776648
101    0.797477
102    0.817225
103    1.000000
Name: Duration 2, Length: 103, dtype: float64

NoneType

In [20]:
e =AM92.merge(c_age_one, left_on='Age x', right_on='age_at_entry', how='left')
print(e[["Duration 2","age_at_entry"]])

     Duration 2  age_at_entry
0      0.000600           NaN
1      0.000594          18.0
2      0.000587          19.0
3      0.000582          20.0
4      0.000577          21.0
..          ...           ...
99     0.754809         116.0
100    0.776648         117.0
101    0.797477         118.0
102    0.817225         119.0
103    1.000000         120.0

[104 rows x 2 columns]
     Age x  Duration 0  Duration 1  Duration 2  age_at_entry
0       17    0.000427    0.000552    0.000600           NaN
1       18    0.000426    0.000548    0.000594          18.0
2       19    0.000425    0.000544    0.000587          19.0
3       20    0.000425    0.000541    0.000582          20.0
4       21    0.000425    0.000538    0.000577          21.0
..     ...         ...         ...         ...           ...
99     116         NaN         NaN    0.754809         116.0
100    117         NaN         NaN    0.776648         117.0
101    118         NaN         NaN    0.797477         118.0
102    119         NaN         NaN    0.817225         119.0
103    120         NaN         NaN    1.000000         120.0

[104 rows x 5 columns]